### Loading Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### Data Loading and EDA

In [3]:
raw_data = pd.read_csv('Datafiniti_Hotel_Reviews.csv')
raw_data.head(3)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
0,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-03T00:00:00Z,2016-07-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,NaN,NaN,Paula,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
1,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-02T00:00:00Z,2016-08-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,NaN,NaN,D,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
2,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-11-15T00:00:00Z,2016-08-23T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,NaN,NaN,Ron,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com

In [5]:
raw_data['city'].value_counts()

Las Vegas         506
Chicago           356
Virginia Beach    257
Boston            249
Arlington         217
                 ...
Normal              1
San Patricio        1
Shelbyville         1
Minot               1
Lake George         1
Name: city, Length: 1021, dtype: int64

In [6]:
raw_data['country'].value_counts()

US    10000
Name: country, dtype: int64

In [20]:
raw_data['reviews.date'] = pd.to_datetime(raw_data['reviews.date'])
raw_data['reviews_year'] = raw_data['reviews.date'].dt.year
raw_data.head(3)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites,reviews_year
0,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,5.0,https://www.hotels.com/hotel/125419/reviews%20/,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,NaN,NaN,Paula,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com,2013
1,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,5.0,https://www.hotels.com/hotel/125419/reviews%20/,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,NaN,NaN,D,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com,2014
2,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,5.0,https://www.hotels.com/hotel/125419/reviews%20/,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,NaN,NaN,Ron,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com,2015

In [21]:
raw_data['reviews_year'].value_counts()

2016    4131
2015    2737
2017    1000
2014     683
2013     396
2018     310
2012     193
2011     157
2009     102
2010      87
2007      82
2008      81
2005      16
2006      16
2004       6
2003       2
2002       1
Name: reviews_year, dtype: int64

In [22]:
data = raw_data.loc[:, ['reviews.rating','reviews.text','reviews_year']]
data.head()

,reviews.rating,reviews.text,reviews_year
0,5.0,Our experience at Rancho Valencia was absolute...,2013
1,5.0,Amazing place. Everyone was extremely warm and...,2014
2,5.0,We booked a 3 night stay at Rancho Valencia to...,2015
3,2.0,Currently in bed writing this for the past hr ...,2016
4,5.0,I live in Md and the Aloft is my Home away fro...,2016

In [28]:
# Compile reviews text for year 2018
data_year2018 = data[data['reviews_year'].apply(lambda x: x == 2018)]
data_year2018.head()

,reviews.rating,reviews.text,reviews_year
28,4.0,Hotel is in the perfect spot at the perfect pr...,2018
99,4.6,Bad: Timing seemed to be off. Had to wait a ve...,2018
100,4.8,Good: I loved the quirkiness and style of the ...,2018
119,5.0,Bad: This is really not a reflection on the ho...,2018
121,5.0,"Good: Perfection - beautiful rooms, comfortabl...",2018

In [29]:
data_year2018.isnull().sum()

reviews.rating    0
reviews.text      0
reviews_year      0
dtype: int64

In [30]:
data_year2018['reviews_year'].value_counts()

2018    310
Name: reviews_year, dtype: int64

In [40]:
data_year2018.to_csv('Data2018.csv', index=False)

In [41]:
# Compile reviews text for year 2017
data_year2017 = data[data['reviews_year'].apply(lambda x: x == 2017)]
data_year2017.head()

,reviews.rating,reviews.text,reviews_year
34,4.0,My sister came into town so we decided to go t...,2017
81,4.8,"Bad: The bed wasn't that comfy, which was surp...",2017
82,4.6,"Bad: Noisy in lower floors, but not at all at ...",2017
83,4.6,Good: Staff went out of their way after checko...,2017
84,4.8,Bad: A little bit of noise from the 'L' down b...,2017

In [42]:
data_year2017.isnull().sum()

reviews.rating    0
reviews.text      0
reviews_year      0
dtype: int64

In [43]:
data_year2017['reviews_year'].value_counts()

2017    1000
Name: reviews_year, dtype: int64

In [44]:
data_year2017.to_csv('Data2017.csv', index=False)

In [45]:
# Compile reviews text for year 2016
data_year2016 = data[data['reviews_year'].apply(lambda x: x == 2016)]
data_year2016.head()

,reviews.rating,reviews.text,reviews_year
3,2.0,Currently in bed writing this for the past hr ...,2016
4,5.0,I live in Md and the Aloft is my Home away fro...,2016
5,5.0,I stayed here with my family for my daughters ...,2016
6,5.0,Beautiful rooms and the nicest people working ...,2016
7,5.0,We stayed here while visiting Maryland Live!. ...,2016

In [46]:
data_year2016.isnull().sum()

reviews.rating    0
reviews.text      0
reviews_year      0
dtype: int64

In [47]:
data_year2016['reviews_year'].value_counts()

2016    4131
Name: reviews_year, dtype: int64

In [48]:
data_year2016.to_csv('Data2016.csv', index=False)